<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        {{> header}}
        <title>Customers</title>
    </head>
    <body>
        {{> menu}}
        <h1>Customers</h1>
        <div>
            <ul>
                {{#each customer}}
                    <li>{{first_name}} {{last_name}}</li>
                {{/each}}
            </ul>
        </div>
        {{> footer}}
    </body>
</html>